version: '3.7'
name: 'drill-cloud-backend'

services:
  # mosquitto:
  #   image: eclipse-mosquitto:2.0
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.mosquitto
  #   ports:
  #     - '1883:1883'
  #     - '9001:9001'
  #   volumes:
  #     - mosquitto:/mosquitto/config:/mosquitto/config
  #     - mosquitto:/mosquitto/data:/mosquitto/data
  #     - mosquitto:/mosquitto/log:/mosquitto/log
  #   restart: unless-stopped
  #   networks:
  #     - cloud-backend
  app:
    image: cloud-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - cloud-backend:/cloud-backend
    networks:
      - cloud-backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
    - DATABASE_URL=postgresql://postgres:12341234@postgres:5432/drill-cloud

  postgres:
    image: postgres:17
    build:
      context: .
      dockerfile: Dockerfile.postgresql
    environment:
      POSTGRES_DB: drill-cloud
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '12341234'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - cloud-backend

volumes:
  cloud-backend:
  postgres-data:

networks:
  cloud-backend:
    driver: bridge
